.heading {
  display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.HomeIcon:hover{
  transform: scale(1.5);
  transition-duration: hover;
}
.AboutIcon:hover{
  transform: scale(1.5);
  transition-duration: hover;
}
.ProjectsIcon:hover{
  transform: scale(1.5);
  transition-duration: hover;
}
.ContactIcon:hover{
  transform: scale(1.5);
  transition-duration: hover;
}
.title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin: auto;
  font-family: 'Nixie One', cursive;
  font-size: 35px;
  text-indent: 50px;
  }
  /*.intro:hover{
    text-transform: uppercase;
  }*/
.text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  width: 700px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-indent: 50px;
  }
  /*.text:hover {
    text-transform: uppercase;
  }*/
.SocialIcons {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin-top: 210px;
  margin-bottom: 20px;
}
.GitHubIcon:hover{
  transform: scale(1.5);
  transition-duration: hover;
}
.LinkedInIcon:hover{
  transform: scale(1.5);
  transition-duration: hover;
}
.PDFIcon:hover{
  transform: scale(1.5);
  transition-duration: hover;
}
.Link {
  color: black;
}

.image {
  height: 500px;
  width: 500px;
}
