.heading {
  display: flex;
    align-items: center;
    justify-content: space-around;
    margin:auto;

  }
.HomeIcon:hover{
  transform: scale(1.5);
  transition-duration: hover;
}
.AboutIcon:hover{
  transform: scale(1.5);
  transition-duration: hover;
}
.ProjectsIcon:hover{
  transform: scale(1.5);
  transition-duration: hover;
}
.ContactIcon:hover{
  transform: scale(1.5);
  transition-duration: hover;
}
.title{
  display: flex;
  width: 200px;
  height: 30px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  font-family: 'Nixie One', cursive;
  font-size: 35px;
  text-indent: 50px;


  }
  /*.intro:hover{
    text-transform: uppercase;
  }*/
.text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  width: 700px;
  margin-left: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-indent: 50px;

  }
  /*.text:hover {
    text-transform: uppercase;
  }*/
.SocialIcons {
  display: flex;
  /*align-items: baseline;*/
  justify-content: space-around;
  margin: auto;

}
.GitHubIcon:hover{
  transform: scale(1.5);
  transition-duration: hover;
}
.LinkedInIcon:hover{
  transform: scale(1.5);
  transition-duration: hover;
}
.PDFIcon:hover{
  transform: scale(1.5);
  transition-duration: hover;
}
.Link {
  color: black;
}

.me {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-content: flex-start;
  margin-right: 50px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
.image {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
