.heading {
  display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: auto;
}
.HomeIcon:hover{
  transform: scale(1.5);
  transition-duration: hover;
}
.AboutIcon:hover{
  transform: scale(1.5);
  transition-duration: hover;
}
.ProjectsIcon:hover{
  transform: scale(1.5);
  transition-duration: hover;
}
.ContactIcon:hover{
  transform: scale(1.5);
  transition-duration: hover;
}
.intro{
  display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nixie One', cursive;
    font-size: 50px;
    text-indent: 50px;
    height: 15px;
    margin-bottom: 25px;
  }
  /*.intro:hover{
    text-transform: uppercase;
  }*/
.intro-2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-indent: 50px;
  height: auto;
  width: auto;
  margin-bottom: 200px;
  }
  .intro-2:hover {
    text-transform: uppercase;
  }
.SocialIcons {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin-top: 200px;
  margin-bottom: 20px;
}
.GitHubIcon:hover{
  transform: scale(1.5);
  transition-duration: hover;
}
.LinkedInIcon:hover{
  transform: scale(1.5);
  transition-duration: hover;
}
.PDFIcon:hover{
  transform: scale(1.5);
  transition-duration: hover;
}

.Link {
  color: black;
}
/*@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}*/
.me-2 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.image-2{
  display: flex;
  justify-content: space-between;
}
